.view-toggle {
  display: flex;
  align-items: center;

  &__label {
    margin-right: 0.75rem;
    font-size: 0.9rem;
    color: #666;
  }

  &__options {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #ddd;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;

    svg {
      width: 20px;
      height: 20px;
      color: #1e293b; 
      transition: color 0.2s;
    }

    &:hover {
      background-color: #130d0d;

      svg {
        color: #cdced1;
      }
    }

    &--active {
      background-color: #1e293b; 

      svg {
        color: white; 
      }

      &:hover {
        background-color: #0f172a;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }
}


@media (max-width: 768px) {
  .view-toggle {
    &__label {
      display: none;
    }
  }
}
